@import 'palette.css';
@import 'common.css';
@import 'fonts.css';
@import 'grid.css';

:root {
  /*Fonts*/
  --font-primary: var(--neo);
  --font_primary: var(--neo);

  --font-secondary: var(--inter); /** Used for captions */
  --font_secondary: var(--inter);

  --font-family-button: var(--neo);
  --font_family_button: var(--neo);
}
